@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

header{
    font-size: 35px;
    -webkit-text-stroke: 0.3px purple;
    float: left;
    color: pink;
    font-weight: bold;
    margin: 20px;
    font-family: 'Dela Gothic One', cursive;
    
}

h1 :link{
    text-decoration: none;
    color: pink;
    -webkit-text-stroke: 0.3px purple;
}
h1 :visited{
    text-decoration: none;
    color: pink;
    -webkit-text-stroke: 0.3px purple;
}

nav ul li{
    font-family: 'Lobster', cursive;
    color: rgb(red, green, blue);
    margin: 20px 2px 2px 2px;
    width: 150px;
    flex-wrap: nowrap;
}

nav ul li :hover{
    background-color:pink;
}

li a{
    text-decoration: none;
    color: black;
    font-size: 22px;
}

footer{
    font-size: 25px;
    /*position: fixed;*/
    bottom:0px;
 }